includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8
    checkMissingTypehints: false
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    excludePaths:
        analyse:
            - tests/data/travis
