includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    excludePaths:
        analyse:
            - tests/data/travis
