includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    excludePaths:
        analyse:
            - tests/data/travis
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.return
